# From 
#     https://github.com/github/gitignore/master/Global/Eclipse.gitignore
#     https://github.com/github/gitignore/master/Maven.gitignore
#
# curl https://raw.github.com/github/gitignore/master/Global/Eclipse.gitignore >> .gitignore
# curl https://raw.github.com/github/gitignore/master/Maven.gitignore >> .gitignore
*.pydevproject
.metadata
.gradle
.idea
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
